body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    height: 6.5vh;
     
   
    padding-bottom: 2%;
}
h1{
   font-size: 50px;
}
h2{
    font-size: 40px;
}
.name-highlighting{
    color : rgb(25, 139, 35);
}    
.top-box{
    width: 40vw; 
    float: left;
    margin-left: 5%;
    padding-left: 2%;
    
}
.top-box img{
    min-width: 80%;
}
.top-box p{
   text-align: left;
   
}
#top-section{
    height: 700px;
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
}
.link-button{
    text-align: center;
    text-decoration: none;
    padding: 10px 20px;
   
    border: 10px 20px;
    color: white;
    font-weight: 700;
     background-image: linear-gradient(45deg,purple,lightblue);
    border-radius: 10px;

}
.gap{
    padding-bottom: 5px ;
}
#middle-part{
    height: 700px;
    background-position: right;
    background-image: url("images/dream-bg.png");
    background-repeat:no-repeat;
              ;
}
#middle-part img{
   margin-left: 1%;
}
.mid{
    text-align: center;
    text-decoration: none;
    border: 20px 10px ;
    color: white;
    border-radius: 5px;
    
    padding: 10px 20px;
    background-image: linear-gradient(45deg,
    salmon,lightblue);
     
    font-weight: 700;
}